{% extends "course/base.html" %}
{% load django_bootstrap5 %}
{% block title %} Create Chapter {% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="card shadow-sm">
            <div class="card-body"><h3 class="mb-3"> {{ course.title }} </h3> <h4 class="mb-4"> Create Chapter for
                "{{ unit.title }}" </h4>
                <form method="post"> {% csrf_token %} {% bootstrap_form form %}
                    <div class="d-flex justify-content-between mt-3"><a href="{{ view.unit.get_absolute_url }}"
                                                                        class="btn btn-outline-secondary"> Cancel </a>
                        <button type="submit" class="btn btn-success"> Create Chapter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}