<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Learn Unified</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="nav-home">
        <a href="{% url 'core:home' %}" class="link">🏠 Home</a>
    </nav>
    {% bootstrap_messages %}
    <div id="auth-page" class="page">

        <div class="auth-container">
            <div class="logo">
                <span class="logo-icon">🎓</span>
            </div>
            <h1>Learn Unified</h1>
            <p class="tagline">Empowering Education Through Innovation</p>
            <form action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                <div id="login-form">
                    <h2>🔐 Welcome Back</h2>
                    {% bootstrap_form form %}
                    <button type="submit">Login</button>
                    <p>Don't have an account? <a href="{% url 'accounts:register' %}" class="link">Create one now →</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
